<nav class="main-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <a href="/">Home</a>
        <% if (user) { %>
          <a href="/results">Results</a>
        <% } %>
      </div>

      <div class="col-md-5 account-options">
        <% if (user) { %>
          <span><%= user.username %></span>
          <a href="/auth/logout">Logout</a>
        <% } else { %>
          <a href="/auth/login">Login</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>