<nav class="main-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">

          <div class="col-sm-5 col-xs-8">
            <a href="/">Home</a>
            <% if (user) { %>
              <a href="/results">Results</a>
            <% } %>
          </div>

          <div class="col-sm-7 col-xs-4 account-options">
            <% if (user) { %>
              <span class="hidden-xs username"><%= user.username %></span>
              <a href="/auth/logout">Logout</a>
            <% } else { %>
              <a href="/auth/login">Login</a>
            <% } %>
          </div>

          <% if (user) { %>
            <div class="visible-xs-block col-xs-12 username-wrapper">
              <span class="username"><%= user.username %></span>
            </div>
          <% } %>

        </div>
      </div>
    </div>
  </div>
</nav>