body {
    background: url(/img/bg.jpg);
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
}

h1 {
    font-weight: 100;
}

.help-block {
    font-weight: 300;
}

.main-nav {
    position: relative;
    background: rgba(41,174,154,0.7);
    color: #fff;
    font-size: 20px;
    padding: 5px 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.main-nav a {
    color: #fff;
    margin: 0 5px;
}

.main-nav .account-options {
    text-align: right;
}

.main-nav .username-wrapper {
    text-align: right;
}

.main-nav .username {
    margin: 0 5px;
}

.btn-primary {
    background: rgb(41,174,154);
    border-color: rgb(41,174,154);
}

.btn-primary:hover {
    background: rgb(20,150,130);
    border-color: rgb(20,150,130);
}

.btn-primary:active, .btn-primary:hover:active {
    background: rgb(0,130,110);
    border-color: rgb(0,130,110);
}

.main {
    text-align: center;
}

.main table {
    text-align: left;
}

.action-bar {
    position: absolute;
    top: 30px;
    right: 15px;
}

.action-bar .glyphicon {
    font-size: 20px;
}

::-webkit-input-placeholder { color: #999; }
:-moz-placeholder { color: #999; }
.placeholder { color: #999; }