body {
    background: url(/img/bg.jpg);
}

.main-nav {
    position: relative;
    background: rgba(40,40,40,0.7);
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    padding: 5px 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.main-nav a {
    color: #fff;
    margin: 0 5px;
}

.main-nav .account-options {
    text-align: right;
}

.main-nav .username-wrapper {
    text-align: right;
}

.main-nav .username {
    margin: 0 5px;
}

.main {
    text-align: center;
}

.main table {
    text-align: left;
}

.action-bar {
    position: absolute;
    top: 30px;
    right: 15px;
}

.action-bar .glyphicon {
    font-size: 20px;
}