<!doctype html>
<html lang="en">
  <head>
    <title>Just One Question - Success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  
  <body>
    <div class="container main">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Error</h1>
          <p>Sorry, but some kind of error occurred.</p>
        </div>
      </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
  </body>
</html>
