<!doctype html>
<html lang="en">
  <head>
    <title>Confirm Your Account</title>
  </head>

  <body>
    <h1 style="font-weight: 100; color: #999; margin-bottom: 0;">Just One Question</h1>
    <h2 style="font-weight: 100; margin-top: 5px;">Confirm Your Account</h2>

    <p>Thanks for signing up with Just One Question. Before sending a question,
    you will be required to confirm your email address using the code below.
    Please enter it on the website when prompted.</p>

    <p>Your confirmation code is:
    <span style="font-weight: bold; font-size: 150%;"><%= code %></span></p>

    <p style="color: #999;">
      This message was sent from <%= rootUri %>.
    </p>
  </body>
</html>