<!doctype html>
<html lang="en">
  <head>
    <title>Password Change Requested</title>
  </head>

  <body>
    <h1 style="font-weight: 100; color: #999; margin-bottom: 0;">Just One Question</h1>
    <h2 style="font-weight: 100; margin-top: 5px;">Password Change Requested</h2>

    <p>We received a request to reset your password. Please use the new password
    below to login. After logging in, you can change your password to
    something else.</p>
    <p>Your new password is:
    <span style="font-weight: bold; font-size: 150%;"><%= password %></span></p>

    <p style="color: #999;">
      This message was sent from <%= rootUri %>.
    </p>
  </body>
</html>