<!doctype html>
<html lang="en">
  <head>
    <title>Just One Question - About</title>
    <% include partials/head %>
  </head>

  <body>
    <% include partials/body_start %>
    <div class="col-md-10 col-md-offset-1">

      <h1>About</h1>
      <span class="help-block">
        <em>Simple, painless surveys - driven by email.</em>
      </span>

      <div class="about">
        <p>No matter what you do, feedback is important. Unfortunately,
        collecting that feedback can be hard. It means spending a lot of time
        generating a lot of survey questions, and hoping that someone will take
        the time to fill them all out.</p>

        <p><strong>Just One Question</strong> is just the opposite.</p>

        <p>Ask one question. It gets emailed to all of your recipients. They
        respond to the email with their answer. The results are caught
        by an automated system and aggregated for you to view.
        It's as simple as that.</p>

        <p>You get real answers with a high response rate. Your recipients
        get to provide input without ever leaving their inbox. It's the
        perfect tool for continuous feedback - so start asking now!</p>
      </div>

      <span class="help-block">
        view the source on <a href="https://github.com/awrichar/just-one-question">GitHub</a>
      </span>

    </div>
    <% include partials/body_end %>
  </body>
</html>
