<!doctype html>
<html lang="en">
  <head>
    <title>Just One Question - Error</title>
    <% include partials/head %>
  </head>

  <body>
    <% include partials/body_start %>
    <div class="col-md-12">

      <h1>Error</h1>
      <p>Sorry, but some kind of error occurred.</p>

    </div>
    <% include partials/body_end %>
  </body>
</html>
