<!doctype html>
<html lang="en">
  <head>
    <title>Just One Question</title>
    <% include partials/head %>
  </head>

  <body>
    <% include partials/body_start %>
    <div class="col-md-12">

      <h1>Just One Question</h1>
      <span class="help-block">
        Create a survey in seconds - just enter your question and a list of possible responses.
      </span>

      <form method="post" action="/main">
        <%- form.html %>
        <input type="hidden" name="step" value="validate"/>
        <button type="submit" class="btn btn-primary btn-lg">Preview</button>
      </form>

    </div>
    <% include partials/body_end %>
    <script src="/js/jquery.placeholder.min.js"></script>
    <script type="text/javascript">
      $('textarea[placeholder]').placeholder();
      $(window).unload(function(){
        $('textarea.placeholder').val('');
      });
    </script>
  </body>
</html>
