<!doctype html>
<html lang="en">
  <head>
    <title>Just One Question</title>
    <% include partials/head %>
  </head>

  <body>
    <% include partials/nav %>

    <div class="container main">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Just One Question</h1>
          <span class="help-block">
            Enter a question and a set of possible responses.
          </span>

          <form method="post" action="/main">
            <%- form %>
            <input type="hidden" name="step" value="validate"/>
            <button type="submit" class="btn btn-primary btn-lg">Preview</button>
          </form>
        </div>
      </div>
    </div>

    <% include partials/foot %>
  </body>
</html>
