<!doctype html>
<html lang="en">
  <head>
    <title>Just One Question - Results</title>
    <% include partials/head %>
  </head>

  <body>
    <% include partials/body_start %>
    <div class="col-md-12">

      <h1>Results</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Question</th>
          </tr>
        </thead>

        <tbody>
          <% questions.forEach(function(question) {%>
          <tr>
            <td>
              <a href="/results/<%= question.id %>"><%= question.question %></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>

    </div>
    <% include partials/body_end %>
  </body>
</html>
