<!doctype html>
<html lang="en">
  <head>
    <title>Just One Question - Results</title>
    <% include partials/head %>
  </head>

  <body>
    <% include partials/nav %>

    <div class="container main">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="action-bar">
            <a href="?refresh=true" title="Refresh"><span aria-hidden="true" class="glyphicon glyphicon-refresh"></span></a>
          </div>
          <h1><%= question.question %></h1>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Response</th>
                <th>Count</th>
              </tr>
            </thead>

            <tbody>
              <% responses.forEach(function(response) {%>
              <tr>
                <td><%= response.label %></td>
                <td><%= response.count %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>

          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>

    <% include partials/foot %>
    <script type="text/javascript">
      $(function(){
        var colors = [
          '#4661EE',
          '#EC5657',
          '#1BCDD1',
          '#8FAABB',
          '#B08BEB',
          '#3EA0DD',
          '#F5A52A',
          '#23BFAA',
          '#FAA586',
          '#EB8CC6',
        ];

        var responses = <%- JSON.stringify(responses) %>;
        var data = [];

        for(var i=0; i<responses.length; i++) {
          data.push({
            label: responses[i].label,
            value: responses[i].count,
            color: colors[i % 10],
          });
        }

        var ctx = document.getElementById("myChart").getContext("2d");
        var myNewChart = new Chart(ctx).Pie(data);
      });
    </script>
  </body>
</html>
