<!doctype html>
<html lang="en">
  <head>
    <title>Just One Question - Success</title>
    <% include partials/head %>
  </head>

  <body>
    <% include partials/body_start %>
    <div class="col-md-12">

      <h1>Success!</h1>
      <p>Your message was successfully sent.</p>

    </div>
    <% include partials/body_end %>
  </body>
</html>
